.body-main {
  padding: 0 15px;
  height: calc(100vh - 70px);
}

.navigate-back {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding: 15px 0;
  font-size: 20px;
  color: var(--primaryColor);
  cursor: pointer;
}




